################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Sample/Php/PublicApiDemo/.vs
*.suo
*.sqlite
*.v2
*.cache
